In [9]:
import numpy as np
import pandas as pd

In [10]:
df=pd.read_csv('exam.csv')
df.head()

   Hours_Studied  Hours_Sleep Study_Method  Previous_Grades  Passed
0       8.201063     8.115749         Solo        73.329943     1.0
1       8.464963     8.147898         Solo        92.227122     1.0
2       1.786155     5.291622         Solo        16.905044     0.0
3       7.452022     8.600804         Solo        88.316403     1.0
4       1.662534     4.668477        Group        36.937423     0.0

In [11]:
df['Study_Method'].unique()

array(['Solo', 'Group'], dtype=object)

In [12]:
df['Study_Method']=df['Study_Method'].map({'Solo':0,'Group':1})

In [13]:
df.head()

   Hours_Studied  Hours_Sleep  Study_Method  Previous_Grades  Passed
0       8.201063     8.115749             0        73.329943     1.0
1       8.464963     8.147898             0        92.227122     1.0
2       1.786155     5.291622             0        16.905044     0.0
3       7.452022     8.600804             0        88.316403     1.0
4       1.662534     4.668477             1        36.937423     0.0

In [14]:
df['Passed'].value_counts()

Passed
1.0    750
0.0    250
Name: count, dtype: int64

In [17]:
class LogisticRegression:
    
    def __init__(self,lr=0.1,epochs=10):
        self.lr=lr
        self.epochs=epochs
        self.coef_=None
        self.intercept_=None

    def sigmoid(self,z):
        return 1/(1+np.exp(-z))

    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        weights=np.zeros(X_train.shape[1])

        for i in range(self.epochs):
            y_hat=self.sigmoid(np.dot(X_train,weights))
            weights+=self.lr*np.dot((y_train-y_hat),X_train)/X_train.shape[0]
        self.intercept_= weights[0]
        self.coef_= weights[1:]

    def predict(self,X_test):
        # Insert a column of ones for the intercept in test data
        X_test = np.insert(X_test, 0, 1, axis=1)
        a = self.sigmoid(np.dot(X_test, np.append(self.intercept_, self.coef_)))

        return np.where(a >= 0.5, 1, 0)

## In Logistic Regression we add np.insert(X_test, 0, 1, axis=1) in test data as well but in Linear Reg. we do only for training data , why?

### Closed-form vs. Iterative: Linear regression can use a closed-form solution to find coefficients, whereas logistic regression typically uses gradient descent to optimize the weights iteratively.

In [19]:
df.head(1)

   Hours_Studied  Hours_Sleep  Study_Method  Previous_Grades  Passed
0       8.201063     8.115749             0        73.329943     1.0

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [22]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [26]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

In [27]:
y_pred=lr.predict(X_test)

In [28]:
print(accuracy_score(y_test,y_pred))

0.74