In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [70]:
class MultiLinReg:

    def __init__(self):
        self.coef_ = None
        self.intercept_ = None
        
    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        # calcuate the coeffs
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]
    
    def predict(self,X_test):
        y_pred = np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [71]:
df=pd.read_csv('Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [72]:
df['Total_Expenditure']=df['R&D Spend']+df['Administration']+df['Marketing Spend']
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Total_Expenditure
0,165349.20,136897.80,471784.10,New York,192261.83,774031.10
1,162597.70,151377.59,443898.53,California,191792.06,757873.82
2,153441.51,101145.55,407934.54,Florida,191050.39,662521.60
3,144372.41,118671.85,383199.62,New York,182901.99,646243.88
4,142107.34,91391.77,366168.42,Florida,166187.94,599667.53

In [73]:
df=pd.get_dummies(columns=['State'],drop_first=True,dtype=int,data=df)

In [74]:
df.drop(columns=['R&D Spend','Administration','Marketing Spend'],inplace=True)

In [75]:
df.head()

      Profit  Total_Expenditure  State_Florida  State_New York
0  192261.83          774031.10              0               1
1  191792.06          757873.82              0               0
2  191050.39          662521.60              1               0
3  182901.99          646243.88              0               1
4  166187.94          599667.53              1               0

In [76]:
X=df.iloc[:,1:].values
Y=df.iloc[:,0].values

In [77]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [78]:
lr=MultiLinReg()
lr.fit(X_train,Y_train)
print(lr.coef_)
print(lr.intercept_)

[ 2.42016516e-01 -4.98903108e+03 -4.90961982e+02]
12382.427042340014

In [79]:
y_pred=lr.predict(X_test)

In [80]:
from sklearn.metrics import r2_score

In [81]:
r2_score(Y_test,y_pred)

0.329173628428572